body > div.p {
	display: none;
	margin-top: .5rem;
}

body > div.p#welcome {
	display: block;
}

body > nav li.navbar-item > a.nav-link.active {
	text-decoration: underline;
}

span.currency-amount.currency-amount-negative {
	&:before { content: '('; }
	&:after { content: ')'; }
}

span.currency-amount {
	&.currency-gain { color: hsl(140, 100%, 60%); }
	&.currency-loss { color: hsl(20, 100%, 60%); }
	&.stale {
		&:after { content: '?'; }
		&.currency-amount-negative:after { content: '?)'; }
	}
}

abbr.rounded-figure {
	text-decoration: underline dotted;
	text-decoration-color: hsla(0, 0%, 100%, 0.5);
}
